# Group 3 - 3250 Term Project

Team members:
<li>Zhaozhen Cui
<li>Daniel Parakkiramasingham
<li>Varun Sharma
<li>Derek Wong
<li>Lun Zhang

<br>Mandatory Objectives:
<li>Select a data set, transform and clean it
<li>Conduct a data analysis
<li>Report key statistical features and insights of the data.

<br>Optional Objectives:
<li>Try out one of the predictive modeling algorithms in scikit-learn

***
# Project Title
## *'Analyzing historical snow climate data from 2000 to 2021 for the city of Milton, Ontario for recommendations to improve future snow management'*

***
# Content
##### 1. Selecting a data set
##### 2. Building the DataFrame
2.1 Constructing the DataFrame
<br>2.2 Inspecting the DataFrame
<br> &emsp; 2.2.1 What is the size of the DataFrame
<br> &emsp; 2.2.2 How does the DataFrame looks like?
<br> &emsp;2.2.3 Is there any null value?
<br> &emsp;2.2.4 What is the descriptive statistics of the DataFrame?
<br> &emsp;2.2.5 What is the dtype in 'Date/Time' column?
<br> &emsp;2.2.6 Are there any duplicates in 'Date/Time' column?
<br>2.3 Cleaning the DataFrame
<br> &emsp;2.3.1 Converting DataFrame to time series
<br> &emsp;2.3.2 Dropping columns and/or rows
<br>2.4 Transforming the DataFrame
<br> &emsp;2.4.1 Treating null values
##### 3. Analyzing the DataFrame
##### 4. Conclusion

***
# Code

## 1. Selecting a data set

- The data we use for analysis are be real (i.e. not randomly generated).
- The data set is extracted from a weather station near Milton which can be found via the link: https://climate.weather.gc.ca/climate_data/daily_data_e.html?StationID=51459
- All data is downloaded in .CSV format for year 2000 to 2021 and are saved to a folder **'regroup3dataset'**

## 2. Building the DataFrame

### 2.1 Constructing the DataFrame

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
def getall_filename(s):
    """
    Create a list of all file names inside a folder.
    Ensure folder is in current working directory.
    
    s: name of folder.
    
    returns: lst of str
    """
    
    from os import listdir, getcwd
    from os.path import isfile, join, sep
    
    mypath = getcwd()+sep+s+sep
    all_file_name = [f for f in listdir(mypath) if isfile(join(mypath, f))]
    return all_file_name

In [3]:
def compile_DFlist(s,l):
    """
    Compile a list of all created DFs from a list of file names.
    Ensure folder is in current working directory.
    
    s: name of folder    
    l: list of all file names
    
    returns: lst of DFs
    """
    
    from os import getcwd
    from os.path import isfile, join, sep
    
    lst = []
    mypath = getcwd()+sep+s+sep
    
    for f in l:
        temp = pd.read_csv(mypath+f)
        lst.append(temp)
    return lst

In [4]:
def check_columnnames(d):
    """
    Check the consistency of column names in each DF within a list.
    
    d: list of DFs to be concatenated
    
    returns: bool
    """
    
    # Initialize
    col_DF = pd.DataFrame()
    num_of_DF = len(d)
    
    # Create a DF where column = DF location and row = column names
    for i in range(num_of_DF):
        col_DF[str(i)] = d[i].columns
    
    # Check name consistency row by row
    for i in range(col_DF.shape[0]):
        if len(col_DF.iloc[i].unique()) > 1:
            print('Names are not consistent at column # %i'%i)
            return False

    return True

In [5]:
folder = 'regroup3dataset'

# Create a list of all file names from the folder
filenames = getall_filename(folder)

# Compile a list of all DFs
DF_list = compile_DFlist(folder,filenames)

# If columns ok, create a master DF
if check_columnnames(DF_list):
    df = pd.concat(DF_list,ignore_index=True)

### 2.2 Inspecting the DataFrame

#### 2.2.1 What is the size of the DataFrame

In [6]:
df.shape

(8036, 31)

#### 2.2.2 How does the DataFrame looks like?

In [16]:
df.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (Â°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-80.33,43.73,FERGUS SHAND DAM,6142400,2000-01-01,2000,1,1,NaN,4.5,...,0.0,NaN,1.0,NaN,NaN,M,NaN,NaN,NaN,NaN
1,-80.33,43.73,FERGUS SHAND DAM,6142400,2000-01-02,2000,1,2,NaN,10.0,...,0.0,NaN,4.2,NaN,NaN,M,NaN,NaN,NaN,NaN
2,-80.33,43.73,FERGUS SHAND DAM,6142400,2000-01-03,2000,1,3,NaN,9.0,...,0.0,NaN,2.8,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,-80.33,43.73,FERGUS SHAND DAM,6142400,2000-01-04,2000,1,4,NaN,8.5,...,0.0,T,0.0,T,0.0,NaN,NaN,NaN,NaN,NaN
4,-80.33,43.73,FERGUS SHAND DAM,6142400,2000-01-05,2000,1,5,NaN,-3.0,...,0.0,T,0.0,T,0.0,NaN,NaN,NaN,NaN,NaN

#### 2.2.3 Is there any null value?

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8036 entries, 0 to 8035
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Longitude (x)              8036 non-null   float64
 1   Latitude (y)               8036 non-null   float64
 2   Station Name               8036 non-null   object
 3   Climate ID                 8036 non-null   int64
 4   Date/Time                  8036 non-null   object
 5   Year                       8036 non-null   int64
 6   Month                      8036 non-null   int64
 7   Day                        8036 non-null   int64
 8   Data Quality               5407 non-null   object
 9   Max Temp (Â°C)              7960 non-null   float64
 10  Max Temp Flag              14 non-null     object
 11  Min Temp (Â°C)              7960 non-null   float64
 12  Min Temp Flag              9 non-null      object
 13  Mean Temp (Â°C)             7956 non-null   float64
 14  Mean Temp Flag             23 non-null     object
 15  Heat Deg Days (Â°C)         7956 non-null   float64
 16  Heat Deg Days Flag         23 non-null     object
 17  Cool Deg Days (Â°C)         7956 non-null   float64
 18  Cool Deg Days Flag         23 non-null     object
 19  Total Rain (mm)            7959 non-null   float64
 20  Total Rain Flag            365 non-null    object
 21  Total Snow (cm)            7959 non-null   float64
 22  Total Snow Flag            529 non-null    object
 23  Total Precip (mm)          7959 non-null   float64
 24  Total Precip Flag          663 non-null    object
 25  Snow on Grnd (cm)          7546 non-null   float64
 26  Snow on Grnd Flag          572 non-null    object
 27  Dir of Max Gust (10s deg)  0 non-null      float64
 28  Dir of Max Gust Flag       0 non-null      float64
 29  Spd of Max Gust (km/h)     0 non-null      float64
 30  Spd of Max Gust Flag       0 non-null      float64
dtypes: float64(15), int64(4), object(12)
memory usage: 1.9+ MB

In [ ]:
'Max Temp Flag','Min Temp Flag','Mean Temp Flag','Heat Deg Days Flag','Cool Deg Days Flag','Total Rain Flag','Total Snow Flag','Total Precip Flag','Snow on Grnd Flag'

#### 2.2.4 What is the descriptive statistics of the DataFrame?

In [9]:
df.describe()

,Longitude (x),Latitude (y),Climate ID,Year,Month,Day,Max Temp (Â°C),Min Temp (Â°C),Mean Temp (Â°C),Heat Deg Days (Â°C),Cool Deg Days (Â°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
count,8.036000e+03,8.036000e+03,8036.0,8036.000000,8036.000000,8036.000000,7960.000000,7960.000000,7956.000000,7956.000000,7956.000000,7959.000000,7959.000000,7959.000000,7546.000000,0.0,0.0,0.0,0.0
mean,-8.033000e+01,4.373000e+01,6142400.0,2010.499627,6.522648,15.730463,11.949410,2.665088,7.317220,11.333308,0.650528,2.229916,0.503568,2.733484,4.025046,NaN,NaN,NaN,NaN
std,3.552935e-12,1.321692e-12,0.0,6.345076,3.448995,8.800988,11.657694,10.448211,10.869852,10.046247,1.574634,5.764803,1.845542,5.920458,9.331195,NaN,NaN,NaN,NaN
min,-8.033000e+01,4.373000e+01,6142400.0,2000.000000,1.000000,1.000000,-20.000000,-32.000000,-24.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,-8.033000e+01,4.373000e+01,6142400.0,2005.000000,4.000000,8.000000,2.000000,-4.500000,-1.300000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,-8.033000e+01,4.373000e+01,6142400.0,2010.500000,7.000000,16.000000,12.500000,3.000000,7.800000,10.200000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,-8.033000e+01,4.373000e+01,6142400.0,2016.000000,10.000000,23.000000,22.500000,11.500000,17.000000,19.300000,0.000000,1.200000,0.000000,2.600000,1.000000,NaN,NaN,NaN,NaN
max,-8.033000e+01,4.373000e+01,6142400.0,2021.000000,12.000000,31.000000,34.000000,24.500000,28.500000,42.300000,10.500000,80.000000,38.400000,80.000000,55.000000,NaN,NaN,NaN,NaN

##### 2.2.5 What is the dtype in 'Date/Time' column?

In [10]:
df['Date/Time'].dtypes

dtype('O')

##### 2.2.6 Are there any duplicates in 'Date/Time' column?

In [11]:
df['Date/Time'].duplicated().any()

False

### 2.3 Cleaning the DataFrame

##### 2.3.1 Converting DataFrame to time series

In [12]:
# Convert 'Date/Time' column to index
cleaned_df = df.set_index('Date/Time')

# Rename 'Date/Time' to 'Date'
cleaned_df.index.names = ['Date']

##### 2.3.2 Dropping column(s) and/or row(s)

In [30]:
columns2drop = ['Longitude (x)','Latitude (y)','Station Name','Climate ID','Year','Month','Day','Data Quality','Max Temp Flag',
                'Min Temp Flag','Mean Temp Flag','Heat Deg Days Flag','Cool Deg Days Flag','Total Rain Flag',
                'Total Snow Flag','Total Precip Flag','Snow on Grnd Flag','Dir of Max Gust (10s deg)','Dir of Max Gust Flag',
                'Spd of Max Gust (km/h)','Spd of Max Gust Flag']
cleaned_df.drop(columns2drop, axis=1, inplace=True)

In [32]:
cleaned_df.head()

,Max Temp (Â°C),Min Temp (Â°C),Mean Temp (Â°C),Heat Deg Days (Â°C),Cool Deg Days (Â°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm)
Date,,,,,,,,,
2000-01-01,4.5,-4.5,0.0,18.0,0.0,1.0,0.0,1.0,NaN
2000-01-02,10.0,-2.5,3.8,14.2,0.0,4.2,0.0,4.2,NaN
2000-01-03,9.0,-3.0,3.0,15.0,0.0,2.8,0.0,2.8,0.0
2000-01-04,8.5,-3.0,2.8,15.2,0.0,0.0,0.0,0.0,0.0
2000-01-05,-3.0,-8.0,-5.5,23.5,0.0,0.0,0.0,0.0,0.0

### 2.4 Transforming the DataFrame

##### 2.4.1 Treating null values